body{
    background-color: white;
}

.container-fluid{
    border-radius: 25px;
    background-color:darkkhaki;
    height: 90vh;
    width: 90vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-top:2.5%;
}

.video-player{
    border: 2px;
    border-radius: 25px;
    border-style: solid;
    border-color: black;
    background-color: black;
    height: 279px; /*keep ratio 16:9*/
    width:496px; 
    margin-top: 25px;
    align-items: center;
    max-height: 100%;
}

video {
    aspect-ratio: 1.777;
        padding: 0 !important;
}

.video-description{
     text-align: center;
     justify-content: center;
}

.brain, .jack, .jork{
    border-radius: 15px;
}

.luckiest-guy-regular {
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
}

.mainvid{
    margin-top: 20px;
    text-align: center;
}
